.displaySelectContainer {
  cursor: pointer;
}

.displayDualIconContainer {
  position: relative;
  /* width: 84px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: fill 0.16s ease;
}

.displayAssetIcon {
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

@media (max-width: 767px) {
  .displayAssetIcon {
    width: 32px;
    height: 32px;
  }
}

.displayAssetIconSec {
  margin-left: -20px;
}

@media (max-width: 767px) {
  .displayAssetIconSec {
    margin-left: -8px;
  }
}
