/* navigation */

.tnavWrapper {
  position: absolute;
  top: 70px;
  left: 0;
  padding: 0 20px;
}

@media (max-width: 1300px) {
  .tnavWrapper {
    position: static;
    max-width: 932px;
    width: 100%;
    margin: 0 auto 20px;
    padding: 0;
  }
}

.tnav {
  display: flex;

  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #f6f7f9;
}

.tnavItem {
  text-decoration-line: underline;
  cursor: pointer;
}

.tnavItem::after {
  content: "";
  display: inline-flex;
  width: 7px;
  height: 7px;
  margin: 0 10px;
  border-bottom: 2px solid #9a9faf;
  border-right: 2px solid #9a9faf;
  transform: translateY(-2px) rotate(-45deg);
}

.tnavItemActive {
  color: #9a9faf;
}

/* wrapper */
.formWrapper {
  width: 100%;
  max-width: 932px;

  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;

  border-radius: 20px;

  background: #eae8e1;
  box-shadow: 8px 8px 0px #6575b1;
}

@media (max-width: 767px) {
  .formWrapper {
    margin-bottom: 0px;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 4px 4px 0px #6575b1;
  }
}

.title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-shadow: 2px 2px 0px #6575b1;
  text-transform: uppercase;

  color: #000000;
}

@media (max-width: 767px) {
  .title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 32px;
  }
}

/* main section */

.mainBody {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #131313;
}

@media (max-width: 767px) {
  .mainBody {
    margin-bottom: 12px;
    padding: 12px;
  }
}

.textFieldTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 152px;

  margin-bottom: 20px;
  padding: 20px;

  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 16px;

  background: #131313;
}

@media (max-width: 767px) {
  .textFieldTop {
    height: 76px;
    margin-bottom: 12px;
    padding: 8px;
  }
}

.inputTitleText {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

  color: #f6f7f9;
}

@media (max-width: 767px) {
  .inputTitleText {
    font-family: 'PT Root UI';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

.massiveInputContainer {
  display: flex;
  align-items: center;
}

.assetSelectIconNameWrapper {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .assetSelectIconNameWrapper {
    margin-left: 8px;
  }
}

.assetSymbolName {
  font-family: "PT Root UI";
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;

  color: #f6f7f9;
}

@media (max-width: 767px) {
  .assetSymbolName {
    font-size: 20px;
    line-height: 32px;
  }
}

.textField {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 152px;

  padding: 20px;

  margin-top: 2px;
  margin-bottom: 2px;

  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 16px;

  background: #131313;
}

@media (max-width: 767px) {
  .textField {
    height: 76px;
    padding: 8px;
  }
}

.textField + .textField {
  position: relative;

  margin-top: 12px;
}

@media (max-width: 767px) {
  .textField + .textField {
    margin-top: 8px;
  }
}

.textField + .textField::before {
  content: "";

  position: absolute;

  bottom: 100%;
  left: 50%;

  width: 1px;
  height: 12px;

  background: rgba(104, 114, 122, 0.4);
}

@media (max-width: 767px) {
  .textField + .textField::before {
    height: 8px;
  }
}

.textFieldContainer {
  display: flex;
  align-items: center;
}

.smallerText {
  margin-left: 12px;

  font-family: "PT Root UI";
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;

  color: #f6f7f9;

  pointer-events: none;
}

@media (max-width: 767px) {
  .smallerText {
    margin-left: 8px;
    font-size: 28px;
    line-height: 32px;
  }
}

.massiveInputAmount {}

input[type="number"].massiveInputAmount::-webkit-inner-spin-button,
input[type="number"].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"].massiveInputAmount {
  -moz-appearance: textfield;
}

.largeInput {
  font-family: "PT Root UI" !important;
  font-weight: 400 !important;
  font-size: 48px !important;
  line-height: 52px !important;

  color: #f6f7f9 !important;
}

@media (max-width: 767px) {
  .largeInput {
    font-size: 28px !important;
    line-height: 32px !important;
  }
}

.inputBalanceRow {
  display: flex;
  justify-content: space-between;
}

.inputBalanceText {
  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

  color: #9a9faf;
}

@media (max-width: 767px) {
  .inputBalanceText {
    font-size: 12px;
    line-height: 16px;
  }
}

.inputBalanceMax {
  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;

  color: #b1f1e3;
  cursor: pointer;
}

@media (max-width: 767px) {
  .inputBalanceMax {
    font-size: 12px;
    line-height: 16px;
  }
}

.warningContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 56px;
  margin-bottom: 20px;
  padding: 16px;

  border: 1px solid #68727a;
  border-radius: 12px;

  background: rgba(104, 114, 122, 0.12);
}

@media (max-width: 767px) {
  .warningContainer {
    margin-bottom: 12px;
    min-height: 36px;
    padding: 10px;
  }
}

.warningContainerSuccess {
  border: 1px solid #459b0e;
  background: rgba(69, 155, 14, 0.12);
}

.warningContainerSuccess .warningText {
  color: #459B0E;
}

.warningContainerError {
  border: 1px solid #9B0E0E;
  background: rgba(155, 14, 14, 0.12);
}

.warningContainerError .warningText {
  color: #9B0E0E;
}

.warningIcon {
  flex-shrink: 0;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .warningIcon {
    margin-right: 10px;
  }
}

.warningText {
  margin: 0;

  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #68727a;
}

@media (max-width: 767px) {
  .warningText {
    font-size: 14px;
    line-height: 20px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .controls {
    flex-direction: column;
  }
}

.button {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;

  min-width: 232px !important;
  height: 64px;

  padding: 16px 52px !important;

  font-family: "PT Root UI" !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  white-space: nowrap;

  border-radius: 16px !important;

  background: #7db857 !important;
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .button {
    flex-grow: 1;
  }
}

.buttonDisabled {
  background: #68727a !important;
}

.button::before,
.button::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  background: #eae8e1;
  border-radius: 100px;
  transform: translateY(-50%);
}

.button::before {
  left: -12px;
}

.button::after {
  right: -12px;
}


/*  */

.retain {
  position: relative;
}

.helpIcon {
  border: 1px solid rgba(104, 108, 122, 0.2);
  border-radius: 50px;
  width: 26px;
  height: 26px;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: help !important;
}

.topLeftButton,
.bottomLeftButton {
  border-radius: 8px 8px 0 0 !important;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  cursor: pointer;
}

.inputsContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 0px; */
  padding: 0px 24px;
  /* flex: 1; */
}

.multiApproval {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 12px;
}

.multiApprovalButton {
  min-width: auto;
}

.inputContainer {
  position: relative;
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  height: 72px;
  background: #171d2d !important;
  border-radius: 12px !important;
  border: 1px solid #779bf4 !important;
  padding-right: 24px !important;
}

.searchInput:hover {
  background-color: #1f2b49 !important;
}

.searchInputInput::placeholder {
  color: #8191b9 !important;
}

.searchInput > fieldset {
  border: none;
}

.searchInputText {
  padding: 16px 24px !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 16px !important;
  color: #325569 !important;
}

.searchInputText--dark {
  color: #c6cdd2 !important;
}

.activeIcon {
  height: 2px;
  width: 100%;
  background: linear-gradient(-45deg, #23a6d5, #234ce7);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none;
}

.searchContainer {
  padding: 24px;
  height: 600px;
  overflow-y: scroll;
}

.assetSearchResults {
  width: 100%;
  max-height: 482px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-width: 390px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
}

.inputTitle {
  padding-bottom: 16px;
  margin-left: 6px;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 15px;
}

.value {
  cursor: pointer;
  font-size: 14px !important;
}

.infoContainer {
  display: flex;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-top: 32px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding: 0px 24px;
  width: 100%;
  height: 100%;
  margin-top: 12px;
}

.actionButtonText {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 48px !important;
  letter-spacing: 0 !important;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.container {
  align-self: center;
  width: 782px;
  background: transparent !important;
}

.reAddPadding {
  max-width: 782px;
  position: relative;
}

.top {
  display: flex;
  align-items: center;
  color: #e4e9f4;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.04em;
  top: 1px;
  width: 700px;
  /*height: 60px;*/
  margin: 0 0 28px 0;
}

.loadingCircle {
  margin-left: 6px !important;
  color: #fff !important;
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 9px 9px 0 0;
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
}

.toggleButtons:hover {
  background: rgb(19, 44, 60) !important;
}

.amountAndPercent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  padding-bottom: 12px;
}

.actionsContainerWithdraw {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding: 0px 24px;
  width: 240px;
}

.extraTF {
  padding-bottom: 0px;
}

.buttonOverride {
  width: 460px;
  height: 96px;
  margin-left: 1px;
  margin-top: 20px !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 48px !important;
  text-align: center !important;
  color: #060b17 !important;
  box-shadow: none !important;
  background-color: #d3f85a !important;
  border-radius: 12px !important;
}

.buttonOverride[disabled] {
  background-color: #586586 !important;
  color: #1f2b49 !important;
}

.swapIconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  height: 0px;
}

.swapIconSubContainer {
  background: #161b2c;
  border-radius: 9px;
  height: 38px;
  z-index: 1;
}

.swapIcon {
  cursor: pointer;
  padding: 6px;
  font-size: 30px !important;
  background: rgb(33, 43, 72);
  margin: 4px;
  border-radius: 6px;
}

.quoteLoaderDivider,
.warningDivider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 8px;
}

.quoteLoaderDividerError,
.warningDividerError {
  background-image: url("/images/ui/quote-loader-error--light.svg");
}

.quoteLoaderDividerInfo,
.warningDividerWarning {
  background-image: url("/images/ui/quote-loader-info--light.svg");
}

.quoteLoader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 14px 18px !important;
  border: 2px solid #15b525;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #1b4f20 !important;
  font-weight: 400 !important;
}

.quoteLoaderError {
  min-width: 100%;
  border: 2px solid #db3434;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: transparent !important;
  text-align: center;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.contentFloatText {
  font-weight: 700 !important;
  font-size: 72px !important;
  color: #ffffff !important;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displayAssetIconSmall {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 30px;
  background: rgb(33, 43, 72);
  padding: 6px;
}

.displayDualIconContainerConfirm {
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.displayDualIconContainerSmall {
  width: 82px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

.displaySingleIconContainerSmall {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

/* .displayAssetIconSingle {
  width: 60px;
  height: 60px;
  border-radius: 100px;
} */

.img1Logo {
  position: absolute;
  left: 0px;
  top: 10px;
  border: 5px solid #212b48;
  border-radius: 100px;
}
.img2Logo {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: 10px;
  border: 5px solid #212b48;
  border-radius: 100px;
}
.doubleImages {
  display: flex;
  position: relative;
  width: 140px;
  height: 80px;
  padding: 10px;
  box-sizing: content-box;
}
.fillerText {
  flex: 1;
  font-size: 30px !important;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumdisplaySelectContainer {
  padding: 12px;
  height: 74px;
}

.mediumdisplayDualIconContainer {
  width: 50px;
  position: relative;
}

.mediumdisplayAssetIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50px;
  background: rgb(33, 43, 72);
  width: 50px;
  height: 50px;
  padding: 5px;
}

.mediumInput {
  font-size: 32px !important;
}

.receiveAssets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.depositInfoContainer {
  position: relative;
  padding: 20px;
  margin-top: 23px;
  display: flex;
  /*flex-wrap: wrap;*/
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  background: rgba(6, 11, 23, 0.5);
  /* weak */

  border: 1px solid #1f2b49;
  border-radius: 12px;
}

.depositInfoContainerWarn {
  color: #18202f;
  position: absolute;
  left: 27px;
  top: 18px;
}

.withdrawInfoContainer {
  margin-top: 8px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.depositInfoHeading {
  color: #e4e9f4;
  width: 100%;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0 !important;
}

.depositInfoHeading--light .highlight {
  color: #325569 !important;
  font-weight: 600;
}

.depositInfoHeading--dark .highlight {
  color: #c6cdd2 !important;
  font-weight: 600;
}

.priceInfos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  width: 100%;
}

.createPriceInfos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  width: 100%;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}

.priceInfo > .title {
  font-weight: bold !important;
  font-size: 14px !important;
  padding: 6px 0px;
}

.priceInfo > .text {
  font-size: 14px !important;
}

.titleSection {
  cursor: pointer;
  position: absolute;
  left: 12px;
  width: 342px;
  height: 72px;
  /*padding: 0 20px;*/
  background: transparent !important;
  /*border: 1px solid #C6CDD2;*/
  /*border-radius: 14px;*/
  color: #e4e9f4;
  display: flex;
  align-items: center;
}

.titleBackText {
  margin-left: 10px;
}

@media (max-width: 1482px) {
  .titleSection {
    width: 78px;
    box-sizing: border-box;
  }
  .titleBackText {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    position: relative;
  }
  .top {
    padding-left: 90px;
  }
  .titleSection {
    left: 0;
    top: 4px;
  }
}

/*.titleSection--dark {
  background: #151718;
  border: 1px solid #5F7285;
}*/

.backButton {
  position: absolute !important;
  left: 5px !important;
  top: 5px;
}

.backIcon {
  width: 19px !important;
  height: 19px !important;
  color: #5688a5 !important;
}

.backIcon--dark {
  color: #c6cdd2 !important;
}

.titleText {
  font-size: 18px !important;
  letter-spacing: normal !important;
  font-weight: bold !important;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumdisplaySelectContainer {
  padding: 12px;
  height: 74px;
}

.mediumdisplayDualIconContainer {
  width: 50px;
  position: relative;
}

.mediumdisplayAssetIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50px;
  background: rgb(33, 43, 72);
  width: 50px;
  height: 50px;
  padding: 5px;
}

.mediumInput {
  font-size: 32px !important;
}

.toggles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggleOption {
  padding: 24px;
}

.toggleOption:nth-child(1) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.toggleOption:nth-child(2) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.toggleOption:hover {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
}

.toggleOption.active {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.toggleOptionText {
  text-align: center;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 860px) {
  .bribeSvg {
    position: absolute;
    top: 92px;
    left: 54px;
    z-index: 1;
  }

  .container {
    width: 352px;
  }
  .top {
    font-weight: 500;
    font-size: 40px;
    padding-left: 60px;
  }
  .titleSection {
    left: 0;
    top: 10px;
    /* padding: 0; */
    width: 48px;
    height: 48px;
    /*padding: 5px;*/
  }

  /* .textField {
    width: 352px;
    padding: 40px 16px 16px 16px;
  } */

  /* .displayAssetIcon {
    width: 28px;
    height: 28px;
    border-radius: 100px;
  } */

  /* .displayDualIconContainerManage {
    width: 54px;
    height: 54px;
  } */

  /* .displaySelectContainer {
    padding: 0 0 0 12px;
  } */

  /* .inputBalanceText {
    font-weight: 500 !important;
    font-size: 12px !important;
    top: 16px;
  } */

  /* .inputBalanceText {
    left: 112px;
    display: flex;
    gap: 10px;
  } */

  /* .inputBalanceMax {
    top: 12px;
  } */

  /* .displayAssetIconSingle {
    width: 20px;
    height: 20px;
  } */

  /* .smallerText {
    top: 58px;
    left: 52px;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
  } */

  /* .massiveInputAssetSelectStandalone {
    width: 140px;
  } */

  /* .massiveInputAmount {
    left: 168px;
    top: 40px;
    height: 54px;
    margin-right: 16px;
  } */

  /* .largeInput {
    padding: 0 0 0 20px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
  } */

  .depositInfoContainer {
    padding: 12px;
  }

  .depositInfoContainerWarn {
    left: 19px;
    top: 10px;
  }

  .actionButtonText {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .buttonOverride {
    height: 68px;
  }

  /* .assetOptionIcon {
    width: 40px;
    height: 40px;
    padding: 4px;
  } */

  /* .assetSelectMenu {
    padding: 12px !important;
    height: 64px !important;
    min-height: auto !important;
  } */

  .displayDualIconContainerSmall {
    width: 58px;
    height: 40px;
    margin-right: 15px;
  }

  .assetSearchResults {
    min-width: 300px;
  }

  /* .dialogTitle {
    font-size: 20px !important;
  } */

  /* .dialogClose {
    margin-top: 4px;
  } */

  .searchInput {
    height: 48px;
    padding-right: 16px !important;
  }

  .searchInputText {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  .displaySingleIconContainerSmall {
    width: 32px;
    height: 48px;
    display: flex;
    align-items: center;
  }
}
