.switch {
  position: relative;
  cursor: pointer;
}

.track {
  width: 44px;
  height: 26px;
  /*background: #171D2D;*/
  border: 1px solid #9A9FAF;
  border-radius: 100px;
  transition: all 0.16s ease;
  opacity: 0.72;
}

.toggle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #9A9FAF;
  border-radius: 100px;
  transition: all 0.16s ease;
}


.switch:hover .track {
  /*background: #1F2B49;*/
}

.switch:active .track {
  /*background: #060B17;*/
}

.switch--active .track {
  /*background: rgba(119, 155, 244, 0.25);*/
  border: 1px solid #B1F1E3;
  opacity: 1;
}

.switch--active .toggle,
.switch--active:hover .toggle {
  background: #B1F1E3;
  transform: translateX(18px);
}

.switch--active:hover .track {
  background: rgba(119, 155, 244, 0.15);
}

.switch--active:active .track {
  background: rgba(119, 155, 244, 0.4);
}

.switch--disabled {
  opacity: 0.5;
  cursor: auto;
}

@media (min-width: 1920px) {
  .track {
    width: 72px;
    height: 40px;
  }
  .toggle {
    width: 32px;
    height: 32px;
    left: 4px;
    top: 4px;
  }

  .switch--active .toggle,
  .switch--active:hover .toggle {
    transform: translateX(32px);
  }
}
