.wrapper {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px 0px #6575b1;
  background: #eae8e1;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 12px;
    box-shadow: 4px 4px 0px #6575B1;
    border-radius: 16px;
  }
}

.title {
  margin-bottom: 20px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;

  color: #000000;

  text-shadow: 2px 2px 0px #6575b1;
}

@media (max-width: 991px) {
  .title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.controls {
  padding: 20px 20px;

  border-radius: 20px;

  background: #131313;
}

@media (max-width: 991px) {
  .controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    border-radius: 16px;
  }
}

.field {
  width: 100%;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .field {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.searchInput {
  height: 48px !important;

  padding: 0 !important;
  padding-left: 11px !important;

  border: 1px solid #9a9faf;
  border-radius: 12px !important;
}

@media (max-width: 991px) {
  .searchInput {
    height: 36px !important;
    border-radius: 8px !important;
    padding-left: 7px !important;
  }
}

.searchInput input {
  height: 100%;
  padding: 0;
}

/* .searchInput:hover {
  background-color: #1f2b49;
} */

/* @media (max-width: 1199px) {
  .searchInput {
    order: -1;
    margin-bottom: 12px;
  }
} */

/* @media (max-width: 767px) {
  .searchInput {
    height: 48px !important;
    padding: 16px !important;
  }
} */

/* .searchInputInput::placeholder {
  color: #8191b9 !important;
} */

.searchInputIcon {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

@media (max-width: 991px) {
  .searchInputIcon {
    margin-right: 5px;
    transform: scale(0.8);
  }
}

/* .searchInput > fieldset {
  border: none;
} */

.searchInputText {
  padding-right: 10px !important;
  padding-left: 0 !important;

  border-radius: 0 !important;
  border: none !important;

  font-family: "PT Root UI" !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;

  color: #9a9faf !important;
}

/* @media (max-width: 767px) {
  .searchInputText {
    font-size: 14px;
  }
} */

/* .searchInputText::placeholder {
  color: #8191b9 !important;
} */

.select {
  flex-shrink: 0;
  max-width: 288px;
  width: 100%;
}

@media (max-width: 991px) {
  .select {
    max-width: 100%;
  }
}

/* @media (max-width: 1199px) {
  .select {
    order: 1;
    max-width: 500px;
  }

  .tokenLoader {
    order: 1;
  }

  .results,
  .adaptiveContainer {
    order: 2;
  }
} */

.results {
  margin-top: 40px;
  padding: 21px 20px;
  border-radius: 20px;
  background: #131313;
  overflow: hidden;
}

.tokenHeader {
  display: flex;
  height: 40px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: #9a9faf;
}

.tokenHeaderLabel {
  display: flex;
  justify-content: center;
  height: 100%;

  padding: 13px 12px 10px;

  white-space: nowrap;

  border-bottom: 1px solid rgba(104, 114, 122, 0.4);
  border-right: 1px solid rgba(104, 114, 122, 0.4);
}

.tokenHeaderLabel:first-child {
  justify-content: flex-start;
}

.tokenHeaderLabel:last-child {
  justify-content: flex-end;
  border-right: none;
}

.tokenCellName {
}

.tokenBodyRow {}

.tokenBody {
}

.tokenBodyCell {
  padding: 12px;
}

.cellStatus,
.cellFee,
.cellAction {
  width: 25%;
}

.tokenLogo {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin-right: 8px !important;
}

.tokenName {
  margin-bottom: 4px !important;

  font-family: "PT Root UI";
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 16px !important;

  color: #f6f7f9 !important;
}

.tokenAddress {
  font-family: "PT Root UI";
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;

  color: #9a9faf !important;
}

@media (max-width: 900px) {
  .tokenAddress {
    font-size: 10px !important;
    line-height: 12px !important;
  }
}

.isWhitelist,
.notWhitelist {
  font-family: "PT Root UI";
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  white-space: nowrap;

  color: #f6f7f9 !important;
}

@media (max-width: 900px) {
  .isWhitelist,
  .notWhitelist {
    font-family: "PT Root UI";
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 12px !important;
    white-space: nowrap;
  
    color: #f6f7f9 !important;
  }
}

.cellFeeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: flex-end; */
}

.listingFee {
  font-family: "PT Root UI";
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;

  color: #f6f7f9 !important;
}

@media (max-width: 900px) {
  .listingFee {
    font-size: 12px !important;
    line-height: 12px !important;
  }
}

.listingFeeSymbol {
  margin-left: 8px !important;

  font-family: "PT Root UI";
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;

  color: #9a9faf !important;
}

@media (max-width: 900px) {
  .listingFeeSymbol {
    font-size: 12px !important;
    line-height: 12px !important;
  }
}

.buttonOverride {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 103px;
  height: 40px;

  padding: 0 16px;

  border: 1px solid #7db857;
  border-radius: 8px;

  background: rgba(125, 184, 87, 0.12);

  cursor: pointer;
}

@media (max-width: 900px) {
  .buttonOverride {
    height: 48px;
    padding: 0 32px;
    border-radius: 12px;
  }
}

/* .buttonOverride:hover {
  background: #C6BAF0;
  border: 1px solid #8F5AE8;
}

.buttonOverride:active {
  background: #B9A4EE;
  border: 1px solid #8F5AE8;
} */

.buttonOverrideDisabled {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 183px;
  height: 40px;

  padding: 0 32px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;

  border-radius: 12px;

  background: #353a42;
  color: #fff;
}

@media (max-width: 900px) {
  .buttonOverrideDisabled {
    height: 48px;
    padding: 0 32px;
    border-radius: 12px;
  }
}

.adaptiveContainer {
  margin-top: 24px;
  padding: 12px 0;

  border-radius: 16px;

  background: #131313;
}

.adaptiveHeader {
  margin-bottom: 12px;
  padding: 0 12px;
}

.adaptiveWrapper {
  padding: 0 12px;
  background: #131313;
}

.adaptiveTable {
  margin-bottom: 12px;
  padding: 12px 12px;
  border-radius: 16px;
  border: 1px solid rgba(104, 114, 122, 0.4);
}

.adaptive {
  display: flex;
  flex-wrap: nowrap;

  width: 100%;

  border-bottom: 1px solid rgba(104, 114, 122, 0.4);
}

.adaptive:last-child {
  border-bottom: none;
}

.adaptiveActionLabel {
  display: flex;
  align-items: center;

  width: 30%;
  min-width: 120px;
  min-height: 32px;

  padding: 4px 0;

  font-family: 'PT Root UI';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border-right: 1px solid rgba(104, 114, 122, 0.4);

  color: #9A9FAF;
}

.adaptiveActionItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 70%;
  /* height: 72px; */

  padding: 8px;
}

.actionButtonText {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-transform: uppercase;

  color: #7db857 !important;
}

.loadingCircle {
  margin-left: 6px !important;
}

.adaptiveActionContainer {
  width: 100%;
}

/* @media (max-width: 1150px) {
  .cellStatus,
  .cellFee,
  .cellAction {
    width: 25%;
  }

  .tokenCellName {
    width: 25%;
  }
} */

/* @media (max-width: 970px) {
  .cellAction {
    width: 140px;
    white-space: nowrap;
  }

  .cellStatus,
  .cellFee {
    width: 180px;
  }

  .tokenCellName {
    width: calc(100% - 500px);
  }

  .tokenBodyCell {
    padding: 16.5px 10px;
  }

  .searchInputText {
    font-size: 14px !important;
  }

  .actionButtonText {
    font-size: 12px !important;
  }

  .buttonOverrideDisabled {
    font-size: 12px;
  }
} */
/* 
@media (max-width: 530px) {
  .controls {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .searchInput {
    margin-top: 10px;
  }
} */

/* @media (max-width: 470px) {
  .adaptiveTable,
  .adaptiveHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .adaptiveHeaderStatus {
    margin-top: 14px;
  }

  .adaptive {
    width: 100%;
  }

  .adaptiveActionLabel,
  .adaptiveActionItem {
    border-left: none !important;
  }

  .adaptiveActionLabel {
    border-bottom: 1px solid #86B9D6;
  }

  .adaptiveActionLabel--dark {
    border-bottom: 1px solid #5F7285;
  }

  .adaptive:last-child .adaptiveActionLabel {
    justify-content: flex-start;
    border-top: 1px solid #86B9D6;
  }

  .adaptive:last-child .adaptiveActionLabel--dark {
    justify-content: flex-start;
    border-top: 1px solid #5F7285;
  }

  .adaptive:last-child .adaptiveActionItem {
    justify-content: flex-start;
  }
}
 */

.notification {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
  padding: 15px 18px;

  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #68727a;
  border-radius: 12px;

  background: rgba(104, 114, 122, 0.12);
  color: #68727a;
}

@media (max-width: 900px) {
  .notification {
    margin-top: 12px;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}