@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/PT-Root-UI/PT-Root-UI_Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/PT-Root-UI/PT-Root-UI_Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/PT-Root-UI/PT-Root-UI_Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
