.noNFT {
  display: flex;
  flex-direction: column;
  width: 347px;
  padding: 16px 25px;
  margin-top: 10px;
}

.noNFTtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E4E9F4;
  margin-bottom: 25px;
}

.noNFTlinks {
  display: flex;
  gap: 12px;
}

.noNFTlinkButton {
  background: rgba(119, 155, 244, 0.15);
  border: 1px solid #779BF4;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #779BF4;
  cursor: pointer;
}

.lockedNFT {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #060B17;
  border: 1px solid #060B17;
  border-radius: 12px;
  min-height: 56px;
  padding: 0;
  margin: 20px 0 0 0;
}
.lockedNFTTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E4E9F4;
  padding-left: 16px;
}
.lockedNFTToken {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: #171D2D;
  border-radius: 12px;
  padding: 0 16px;
}

.lockedNFTID {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E4E9F4;
}

.lockedNFTVe {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8191B9;
}
@media (max-width: 860px) {
  .lockedNFT {
    height: auto;
    flex-wrap: wrap;
    padding: 0;
  }
  .lockedNFTTitle {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    height: 46px;
    align-items: center;
  }
  .lockedNFTToken {
    width: 100%;
    height: 46px;
  }
  .lockedNFTID {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .lockedNFTVe {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

.refreshWarnBlock {
  height: 56px;
  padding: 16px;
  background: rgba(6, 11, 23, 0.5);
  border: 1px solid #1F2B49;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #8191B9;
  margin-top: 20px;
  margin-left: 16px;
  width: 66%;
}

.refreshWarnSymbol {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 10px;
  background: #1F2B49;
  transform: matrix(1, 0, 0, -1, 0, 0);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tooltipCircle {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px solid #586586;
}

.flyPercent {
  position: absolute;
  right: 28px;
  color: #68727A !important;
  bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
}

.flyPercentWithdraw {
  position: absolute;
  bottom: 10px;
  right: -6px;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  color: #68727A !important;
}

.quoteLoaderDivider,
.warningDivider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 8px;
}

.quoteLoaderDividerError,
.warningDividerError {
  background-image: url("/images/ui/quote-loader-error--light.svg");
}
input[type=number].massiveInputAmount::-webkit-inner-spin-button,
input[type=number].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].massiveInputAmount {
  -moz-appearance: textfield;
}
input[type=number].mediumInputAmount::-webkit-inner-spin-button,
input[type=number].mediumInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].mediumInputAmount {
  -moz-appearance: textfield;
}
.quoteLoaderDividerInfo,
.warningDividerWarning {
  background-image: url("/images/ui/quote-loader-info--light.svg");
}

.quoteLoader,
.warningContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 14px 18px !important;
  border: 2px solid #15B525;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #1B4F20 !important;
  font-weight: 400 !important;
}

.warningContainer {
  margin-bottom: 20px;
}

.container {
  align-self: center;
  width: 932px;
  background: #EAE8E1 !important;
  box-shadow: 8px 8px 0 #6575B1 !important;
  border-radius: 20px !important;
  padding: 20px !important;
}

.smallestText {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #F6F7F9 !important;
}

.helpIcon {
  border: 1px solid rgba(104, 108, 122, 0.2);
  border-radius: 50px;
  width: 26px;
  height: 26px;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: help !important;
}

.nextTo {
  display: flex;
  align-items: center;
}

.paddTiny {
  padding-right: 3px !important;
}

.inputsContainer {
  position: relative;
  padding: 0 4px;
}

.multiApproval {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 12px;
}

.multiApprovalButton {
  min-width: auto;
}

.inputContainer {
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
}

.inputTitle {
  padding-bottom: 16px;
  margin-left: 6px;
}

.inputBalance {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
  cursor: pointer;
  z-index: 4;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 15px;
}

.value {
  cursor: pointer;
  font-size: 14px !important;
}

.infoContainer {
  display: flex;
}

.infoGreenContainer {
  display: flex;
  width: 100%;
  background: rgba(6, 11, 23, 0.5);
  border: 1px solid #AAED9F;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  margin-top: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E4E9F4;
}
.infoGreenContainer > svg {
  margin-top: 2px;
  min-width: 20px;
  height: 20px;
}

.infoContainerWarnGreen {
  position: absolute;
  left: 24px;
  top: 16px;
  color: #18202f;;
}

.infoContainerWarnGreenText {
  padding-left: 18px;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-top: 32px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.actionButtonText {
  /*text-transform: uppercase !important;*/
  /*font-weight: 700 !important;*/
  letter-spacing: 0;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.reAddPadding {
  position: relative;
}

.loadingCircle {
  margin-left: 6px !important;
  color: #FFF !important;
}

.toggleButtons {
  margin-bottom: 32px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent !important;
  color: #0A2C40 !important;
  border: 1px solid #779BF4 !important;
  border-radius: 12px !important;
  height: 72px;
}

.topLeftButton,
.bottomLeftButton {
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
}

.button {
  border-radius: 0 !important;
  flex: 1;
  transition: none !important;
  opacity: 1;
  color: #5688A5 !important;
}

.button--dark {
  color: #ffffff !important;
}

.bottomLeftButton {
  height: 100%;
}

.bottomLeftButton.buttonActive {
  background: #779BF4 !important;
  border-radius: 8px !important;
  border: none !important;
}

.topLeftButton {
  display: flex;
  height: 100%;
  align-items: center;
}

.topLeftButton.buttonActive {
  background: #779BF4 !important;
  border-radius: 8px !important;
}

.slippageIconContainer {
  position: absolute;
  right: 0;
  display: flex;
  padding: 12px 20px;
  background: transparent;
  cursor: pointer;
}

.slippageIconContainer--active {
  background: #0b5e8e;
  border: 1px solid #0b5e8e;
}

.selectTokenIconContainer--active {
  background: #0b5e8e;
}

.slippageIconContainer--dark {
  background: transparent;
}

.slippageIconContainer--dark.slippageIconContainer--active {
  background: #5F7285;
  border: 1px solid #5F7285;
}

.slippageTextContainer {
  padding: 11px 0 11px 20px;
  border: 1px solid #86b9d6;
  border-right: none;
  font-weight: 500;
  font-size: 16px;
}

.slippageTextContainer--dark {
  border: 1px solid #5F7285;
  border-right: none;
}

.slippageIcon {
  width: 20px;
  height: 20px;
  fill: #D3F85A;
}

.slippageIcon--active {
  /*fill: #D3F85A;*/
}

.popoverPaper {
  width: 337px !important;
  height: 190px !important;
  padding: 30px !important;
  background: #DBE6EC !important;
  border: 1px solid #0B5E8E !important;
  box-shadow: 5px 5px 20px rgba(14, 44, 79, 0.25) !important;
  border-radius: 0 !important;
  overflow: hidden !important;
}

.popoverPaper--dark {
  background: #151718 !important;
  border: 1px solid #5F7285 !important;
}

.textField {
  position: relative;
  background-color: #131314;
}

.textFieldReceiveAsset {
  flex-grow: 1;
  position: relative;
  padding: 20px;
  gap: 12px;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 12px;
}

.textField--withdraw-dark {
  border-radius: 12px;
  padding: 20px;
}

.inputBalanceTextContainer {
  position: absolute;
  left: 454px;
  top: 20px;
  width: 366px;
}

.inputBalanceTextContainerForPair {
  position: absolute;
  left: 20px;
  top: 124px;
  width: 800px;
  align-items: flex-end !important;
}

.walletIcon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.inputTitleText {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #F6F7F9;
}

.inputBalanceText {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #9A9FAF;
}

.inputBalanceText {
  padding-top:2px;
  cursor: pointer;
}

.massiveInputContainer {
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.massiveInputContainerLong {
  display: flex;
  flex-direction: column;
}

.massiveInputAssetSelectSingle {
  position: relative;
  padding-top: 56px;
  padding-left: 20px;
  width: 420px;
  height: 152px;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 16px;
  margin-bottom: 4px;
}
.massiveInputAssetSelect {
  position: relative;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 16px;
  padding: 20px;
  gap: 40px;
  width: 100%;
}

.largeInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 48px !important;
  line-height: 52px !important;
  border: none !important;
  outline: none !important;
  color: #F6F7F9 !important;
}

.tokenText {
  position: absolute !important;
  left: 151px;
  top: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #0A2C40;
  text-transform: uppercase;
}

.tokenText--dark {
  color: #FFFFFF !important;
}

.tokenTextLabel,
.tokenTextSecond {
  position: absolute !important;
  left: 151px;
  top: 95px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #5688A5;
}

.tokenTextSecond {
  left: 148px;
  top: 52px;
  font-size: 24px;
}

.tokenTextLabel--dark,
.tokenTextSecond--dark {
  color: #E4E9F4;
}

.tokenTextHeader {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}

.smallerText {
  position: absolute !important;
  left: 151px;
  top: 108px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
  text-transform: uppercase;
}

.smallerText--dark {
  color: #FFFFFF !important;
}

.swapIconContainer,
.swapIconContainerWithdraw {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.swapIconContainerWithdraw {
  height: 60px;
  width: 100%;
  padding-left: 15px;
}

.swapIconContainer {
  width: 70px;
  height: 32px;
  cursor: pointer;
}

.swapIconContainer:hover .swapIconContainerInside {
  /*background: #9BC9E4;*/
}

.swapIconContainer:active .swapIconContainerInside {
  /*background: #86B9D6;*/
}

.swapIconContainerInside {
  height: 32px;
  border-radius: 100px;
}

.swapIconContainerIcon {
  fill: #0B5E8E;
}

.swapIconContainerIcon--dark {
  fill: #4CADE6;
}

.swapIconContainer--dark .swapIconContainerInside {
  background: #24292D;
}

.swapIconContainer--dark::before {
  background: #151718;
}

.swapIconContainer--dark::after {
  background: #151718;
}

.swapIconContainer--dark:hover .swapIconContainerInside {
  background: #2D3741;
}

.swapIconContainer--dark:active .swapIconContainerInside {
  background: #5F7285;
}

.assetSelectMenu {
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px !important;
  transition: all ease 300ms;
}

.assetSelectMenu--dark {
  background: #24292D !important;
  box-shadow: 0 1px 0 rgba(76, 173, 229, 0);
}

.assetSelectMenu--dark:hover {
  background: #2D3741 !important;
  box-shadow: 0 1px 0 rgba(76, 173, 229, 0.5);
}

.assetSelectIconName {
  margin-left: 32px;
}

.assetOptionIcon {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 100px;
  border: 1px solid #9BC9E4;
  background: #CFE5F2;
}

.assetOptionIcon--dark {
  background: #304E61;
  border: 1px solid #5F7285;
}

.displayDualIconContainer {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 0.16s ease;
  fill: #9BC9E4;
}

.displayDualIconContainer:hover {
  fill: #0B5E8E;
}

.displayDualIconContainer:active {
  fill: #86B9D6;
}

.displayDualIconContainer--dark {
  fill: #2D3741;
}

.displayDualIconContainer--dark:hover {
  fill: #4CADE6;
}

.displayDualIconContainer--dark:active {
  fill: #5F7285;
}

.amountAndPercent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  padding-bottom: 12px;
}

.multiApprovalButton {
  width: 460px;
  height: 65px;
  margin-bottom: 10px !important;
  background: transparent url("/images/ui/liquidity-add-button-deposit--light.svg") !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: #8F5AE8 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.multiApprovalButton {
  background: transparent url("/images/ui/liquidity-add-button-unstacked--light.svg") !important;
  min-width: auto;
  color: #A3A9BA !important;
}

.multiApprovalButton--dark {
  background: transparent url("/images/ui/liquidity-add-button-unstacked--dark.svg") !important;
  min-width: auto;
  color: #7F828B !important;
}

.swapIconSubContainer {
  background: #161B2C;
  border-radius: 9px;
  height: 38px;
  z-index: 1;
}

.swapIcon {
  cursor: pointer;
  padding: 6px;
  font-size: 30px !important;
  background: rgb(33, 43, 72);
  margin: 4px;
  border-radius: 6px;
}

.massiveInputAmountWrapper {
  display: flex;
  padding: 56px 20px 0 20px;
  width: 420px;
  height: 152px;
  border: 1px solid rgba(104, 114, 122, 0.4) !important;
  border-radius: 16px;
  margin-left: 12px;
}

.massiveInputAmountWrapperLong {
  display: flex;
  padding: 80px 20px 0 20px;
  /*width: 420px;*/
  height: 152px;
  border: 1px solid rgba(104, 114, 122, 0.4) !important;
  border-radius: 16px;
  /*margin-left: 20px;*/
}

.massiveInputAmount {
  display: flex;
  flex-grow: 1;
}

.massiveInputAmountUnstake {
  border: none !important;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displaySelectContainer {
  padding: 61px 20px 20px;
  cursor: pointer;
}

.displayAssetIcon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.displayAssetIconWithdraw {
  width: 54px;
  height: 54px;
  border: 2px solid #9BC9E4;
  padding: 4px;
  background: #B9DFF5;
}

.displayAssetIconWithdraw--dark {
  border: 2px solid #2D3741;
  background: #24292D;
}

.displayAssetIconSec {
  margin-left: -10px;
}

.mediumInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.mediumInputContainer--withdrawAmount0 {
  margin-right: 20px;
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumdisplaySelectContainer {
  padding: 12px;
  height: 74px;
}

.mediumdisplayDualIconContainer {
  width: 40px;
  height: 40px;
  position: relative;
}

.mediumdisplayDualIconContainerTitle {
  color: #8191B9;
  font-size: 14px;
  margin-bottom: 6px;
}

.mediumdisplayAssetIcon {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.mediumInputAmountContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.mediumInputAmount {
  border: none !important;
  margin-right: 20px !important;
}


.mediumInput {
  padding: 0 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  border: none !important;
  outline: none !important;
  color: #9A9FAF !important;
  -webkit-text-fill-color: #9A9FAF !important;
}

.receiveAssets {
  column-gap: 12px;
  display: flex;
  margin-top: 12px;
}

.depositInfoContainer,
.withdrawInfoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.paperScrollPaper {
  border-radius: 0 !important;
}

.depositInfoHeading {
  width: 100%;
  margin-top: 20px !important;
  font-weight: 500 !important;
  color: #5688A5 !important;
  font-size: 14px !important;
}

.depositInfoHeading--dark {
  color: #7C838A !important
}

.priceInfos {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 7px;
  border: 1px solid #86B9D6;
}

.priceInfos--dark {
  border: 1px solid #5F7285;
}

.priceInfo {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 11px 19px;
}

.priceInfo:first-child {
  border-right: 1px solid #86B9D6;
}

.priceInfo--dark:first-child {
  border-right: 1px solid #5F7285;
}

.priceInfo > .title {
  margin-top: 5px;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
}

.priceInfo > .text {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #5688A5 !important;
}

.priceInfo--dark > .title {
  color: #ffffff !important;
}

.priceInfo--dark > .text {
  color: #5F7285 !important;
}

.titleSection {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: flex-start;
  width: 152px;
  height: 52px;
  margin-left: -95px;
  background: transparent;
}

.titleSectionInline {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: flex-start;
  width: 152px;
  height: 52px;
  margin-left: -95px;
  background: transparent;
}

.titleTitle {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 0;
  padding-right: 6px;
}

.buttonDeposit {
  background-image: url("/images/ui/liquidity-add-button-deposit--light.svg");
}

.backIcon {
  width: 20px !important;
  height: 20px !important;
  padding: 4px;
  margin-right: 10px;
  color: #151718 !important;
  background-color: #C6CDD2;
  border-radius: 10px;
}

.titleText {
  font-size: 18px !important;
  letter-spacing: normal !important;
  font-weight: bold !important;
}

.advancedToggleContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
}

.some > span {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  color: #5688A5 !important;
  margin-right: 5px !important;
}

.menuOption {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px !important;
  gap: 10px;
  width: 440px;
  height: 80px;
  background: #131313;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 12px;
}

.menuOptionDisabled {
  opacity: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px !important;
  gap: 10px;
  width: 440px;
  height: 80px;
  background: #131313;
  border-radius: 12px;
}

.nftRow {
  flex-direction: column;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background: #151718;
}

.nftTitle {
  display: flex;
  min-width: 380px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #F6F7F9;
  min-height: 56px;
}

.nftItems {
  display: flex;
  border: 1px solid #B1F1E3;
  border-radius: 12px;
  color: #EAE8E1;
}


@media (max-width: 987px) {
  .massiveInputAssetSelect {
    height: 48px;
    padding: 0;
  }
  .massiveInputAssetSelect > div {
    width: 100%;
  }
  .massiveInputAssetSelect > div, .massiveInputAssetSelect > div > div, .massiveInputAssetSelect > div > div > div {
    height: 48px;
  }

  .massiveInputAssetSelect > div > div > div {
    padding: 12px 8px;
  }

  .massiveInputAssetSelect > div > div > div > div > div {
    padding: 16px 4px;
  }

  .nftItems {
    width: 100%;
  }

  .massiveInputAmountWrapperLong {
    height: 76px;
    padding: 32px 12px 0 12px;
  }
}

.controls {
  width: 100%;
  display: flex;
}

.controlItem {
  width: 50%;
}

.controlItem:first-child {
  margin-right: 20px;
}

.controlPopover {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #5688A5;
}

.controlPopover--dark {
  color: #4CADE6;
}

.toggles {
  width: 100%;
  border: 1px solid #B1F1E3;
  border-radius: 12px;
  padding: 2px;
}

.togglesWithdraw {
  width: 100%;
  margin-top: 20px;
}

.toggleOption {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 1%;
  color: #FFFFFF;
  cursor: pointer;
}

.toggleOption:hover {
  /*background: #1F2B49;*/
}

.toggleOption.active {
  background: #B1F1E3;
  border-radius: 8px;
}

.toggleOption:first-child {
  margin-right: 10px;
}

.toggleOptionText {
  text-align: center;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #9A9FAF !important;
  margin-right: 10px !important;
}

.toggleOption.active .toggleOptionText {
  color: #131313 !important;
}

.tokenSelector {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
}

.tokenSelectorDisabled {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
}

.selectorLeft {
  display: flex;
  color: #EAE8E1;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.selectorRight {
  display: flex;
  gap: 10px;
  color: #9A9FAF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.tokenSelect {
  border: 1px solid transparent;
  border-radius: 0 !important;
}
.tokenSelect:hover, .tokenSelectOpen {
  border: 1px solid #D3F85A;
  border-radius: 12px !important;
}

.tokenSelect > svg {
  color: #5F7285 !important;
}

.tokenSelect > fieldset {
  display: none !important;
}

.tokenSelectInput {
  padding: 4.5px !important;
  border: 1px solid #86B9D6 !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.tokenSelectInput--dark {
  padding: 6px 12px 6px 6px !important;
  color: #D3F85A !important;
}

.tokenSelectInput > .menuOption > .menuOptionSec,
.tokenSelectInput--dark > .menuOption > .menuOptionSec {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #8191B9 !important;
}

.tokenSelectInput > .menuOption > .menuOptionLabel,
.tokenSelectInput--dark > .menuOption > .menuOptionLabel {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px;

}

.listPaper {
  margin-top: 8px;
  border: 1px solid #D3F85A;
  border-radius: 12px !important;
  background: #060B17 !important;
}

.list,
.list--dark {
  padding: 0 !important;
  background: #060B17;
}

.list > li,
.list--dark > li {
  padding: 0 !important;
  height: 48px;
  border: none !important;
}

.list > li > .menuOption,
.list--dark > li > .menuOption {
  width: 100%;
  padding: 10px 16px !important;
}

.list > li:not(:last-of-type) > .menuOption,
.list--dark > li:not(:last-of-type) > .menuOption {
  border-bottom: none !important;
}

.list > li > .menuOption > .menuOptionSec,
.list--dark > li > .menuOption > .menuOptionSec {
  padding-right: 0 !important;
}

.menuOptionSecText {
  text-align: right;
  color: #8191B9;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.assetSelectBalance {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.displayDualIconContainerSmall {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

.displayAssetIconSmall {
  border: 1px solid rgba(126, 153, 153, 0.5);
  border-radius: 30px;
  background: rgb(33, 43, 72);
  padding: 6px;
}

.searchInput > fieldset {
  border: none;
}

.slippageCont {
  width: 31%;
  background-color: #131314;
  border-radius: 14px;
  margin-top: 20px;
  padding-left: 16px;
  letter-spacing: 0.1em
}

.slippageRoot {
  display: flex;
  justify-content: center;
  padding: 9px 12px !important;
  width: 100px !important;

  background-color: #181d2d;
  border-radius: 14px;
  height: 58px;
}

.slippageDivider {
  border-bottom: 1px solid #86B9D6;
  margin-bottom: 20px;
}

.slippageDivider--dark {
  border-color: #5F7285;
}

.inputBalanceSlippageText--dark,
.inputAdornment--dark {
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff !important;
}

.manageLocalContainer {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.searchContainer {
  padding: 24px;
  height: 600px;
  overflow-y: scroll;
}

.searchInline {
  display: flex;
  align-items: center;
}

.assetSearchResults {
  width: 100%;
  max-height: 490px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-width: 390px;
}

.assetSearchResults--dark {
  background: #2D3741;
  border: 1px solid #5F7285;
}

.smallInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
  max-width: 80px;
  min-height: 50px;
  padding: 20px 12px 4px 12px;
}

.inputTitleContainerSlippage {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.inputBalanceSlippage {
  padding-left: 12px;
}

.disclaimerContainer {
  margin-top: 20px;
  background: rgba(104, 114, 122, 0.12);
  border: 1px solid #68727A;
  border-radius: 12px;
  color: #68727A;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  min-height: 56px;
  gap: 16px;
}

.disclaimerContainerDefault {
  border: 1px solid #1F2B49;
}

.disclaimerContainerWarnSymbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: #E1B413;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.disclaimerContainerDefault .disclaimerContainerWarnSymbol {
  background: #779BF4;
}

.disclaimerContainerError {
  border: 1px solid #E25656;
  color: #E4E9F4;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.disclaimerContainerError > .disclaimerContainerWarnSymbol {
  background-color: #E25656;
}

.disclaimerContainerError--dark {
  background: rgba(6, 11, 23, 0.5);
  border: 1px solid #E25656;
  color: #E4E9F4;
}

.buttonOverride {
  background: #7DB857 !important;
  border-radius: 16px !important;
  position: relative;
  width: 275px !important;
  height: 64px;
  margin-top: 20px !important;
  line-height: 32px !important;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: none !important;
  animation: none !important;
  transition: all 0.32s ease !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.buttonOverride::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #EAE8E1;
  border-radius: 100px;
  left: -12px;
}
.buttonOverride::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #EAE8E1;
  border-radius: 100px;
  right: -12px;
}

.buttonOverride--dark:not(:disabled):hover {
  /*background: #c5ff00 !important;*/
}

.buttonOverride--dark:not(:disabled):active {
  /*background: #D3F85A !important;
  border-radius: 12px !important;
  color: #060B17 !important;*/
}

.buttonOverride:disabled {
  background: #68727A !important;
  color: #FFFFFF !important;
}

.liqWrapper {
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 16px;
  padding: 20px 20px 6px 20px;
  margin-top: 12px;
  width: 100%;
}

.liqTokens {
  width: 56%;
  position: relative;
}

.labelSelectSecondary {
  color: #8191B9;
  font-size: 16px;
  font-weight: 500;
}

.liqHeader {
  position: relative;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}

.liqHeaderWithdraw {
  align-items: flex-start !important;
}

.walletIcon {
  margin-right: 10px;
}

.balanceMax {
  margin-left: 10px;
  margin-right: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #0B5E8E;
  cursor: pointer;
}

.balanceMax--dark {
  color: #4CADE6;
}

.liqBody {
  position: relative;
  border-top: none;
}

.liqBodyIn {
  border-radius: 12px;
}

.liqBody--dark {
  border-top: none;
}

.liqHeaderLabel,
.liqBodyLabel {
  color: #8191B9;
  width: 100%;
}

.liqBodyLabelOutline {
  border: 1px solid #5F7285;
  border-radius: 12px;
}

.liqBodyIconContainer {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #9BC9E4;
  background: #B8DFF5;
  padding: 4px;
}

.liqBodyIconContainer:last-child {
  margin-left: -15px;
}

.liqBodyIconContainer--dark {
  border: 1px solid #2D3741;
  background: #24292D;
}

.liqBodyIcon {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.depositHeader {
  margin-left: 6px;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.04em;
  line-height: 72px;
  color: #325569;
}

.depositHeaderInline {
  margin-left: 6px;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.04em;
  line-height: 72px;
  color: #325569;
}

.depositHeader--dark {
  color: #C6CDD2;
}

.depositSwitcherLabelCont {
  background-color: #131314;
  padding: 8px 22px;
  border-radius: 14px;
  position: absolute;
  right: 0;
  top: 12px;
  height: 56px;
}


.depositSwitcherLabel {
  width: 100%;
  margin-right: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #5688A5;
}

.depositSwitcherLabel--dark {
  color: #7C838A;
}

.dividerLine {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background: #86B9D6;
}

.dividerLine::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #0B5E8E;
}

.dividerLine::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  bottom: 0;
  right: 0;
  background: #0B5E8E;
}

.dividerLine--dark {
  background: #5F7285;
}

.dividerLine--dark::before,
.dividerLine--dark::after {
  background: #4CADE6;
}

.bigscreenSidebar {
  display:flex;
  position: absolute;
  left: 34px;
  width: 377px;
  height: calc(100vh - 200px);
}

.myLiqCont {
  width: 100%;
  padding: 0 0;
}

.myLiq {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #E4E9F4;
  margin-top: 20px;
  gap: 20px;
}

.myLiqBal {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1 2;
  padding: 12px;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 12px;
  color: #68727A;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.myLiqSplitBottom {
  position: absolute;
  bottom: -13px;
  left: 50%;
  width: 1px;
  height: 12px;
  background: rgba(104, 114, 122, 0.4);
}

.myLiqSplitUpper {
  position: absolute;
  top: -13px;
  left: 50%;
  width: 1px;
  height: 12px;
  background: rgba(104, 114, 122, 0.4);
}

.myLiqSplitRight {
  position: absolute;
  top: 50%;
  right: -13px;
  width: 12px;
  height: 1px;
  background: rgba(104, 114, 122, 0.4);
}

.myLiqSpacer {
  display: inline-flex;
  width: 28px;
}

.boostCalculator {}

@media (max-width:1919px) {
  .bigscreenSidebar {
    display:flex;
    position: absolute;
    left: 16px;
    width: 299px;
    height: calc(100vh - 200px);
  }

  .topLeftButton,
  .bottomLeftButton {
    font-size: 24px;
  }
}

@media (max-width:1482px) {
  .bigscreenSidebar {
    display:flex;
    position: absolute;
    left: 16px;
    width: auto;
    height: calc(100vh - 200px);
  }

  .backIcon {
    margin-right: 2px;
  }

  .bigScreenBackText {
    display: none;
  }
}

@media (max-width:1332px) {
  .toggleButtons {
    margin-left: 88px;
    width: calc(100% - 88px);
  }

  .backIcon {
    margin-right: 2px;
  }

  .container {
    position: relative;
  }

  .titleSection {
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    position: absolute;
    top: -104px;
    left: 95px;
  }

  .titleSectionInline {
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 95px;
  }

  .depositHeader {
    margin-left: 0;
  }

  .depositHeaderInline {
    margin-left: 98px;
  }

  .bigscreenSidebar {
    display: none;
  }
}

@media (max-width: 582px) {
  .massiveInputAmount,
  .massiveInputAmountDate {
    height: 54px;
    margin-top: 0;
  }

  .flyPercent {
    position: absolute;
    right: 25px;
    top: 50px;
  }
}

.subnav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.backLink {
  cursor: pointer;
  color: #F6F7F9;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
}

.curPage {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #9A9FAF;
}

.mainContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

.manageBlock {
  display: flex;
  flex-direction: column;
  width: 438px;
  padding: 20px;
  background: #EAE8E1;
  box-shadow: 8px 8px 0 #6575B1;
  border-radius: 20px;
}

.blockTitle {
  text-transform: uppercase;
  color: #000000;
  text-shadow: 2px 2px 0 #6575B1;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

.blockInner {
  gap: 20px;
  background: #131313;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.manageRow {
  display: flex;
  border: 1px solid #B1F1E3;
  border-radius: 12px;
  padding: 2px;
}

.manageBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 40px;
  color: #9A9FAF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.manageBtnActive {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 40px;
  background: #B1F1E3;
  border-radius: 10px;
  color: #131313;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.emptyBlock {
  width: 438px;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.rootPaper {
  max-width: none !important;
}

.topScrollPaper {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.dialogClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.paperBody {
  width: 520px !important;
  height: auto;
  max-height: none !important;
  margin: auto !important;
  background: transparent !important;
}

.tvAntenna {
  height: 28px;
}

.realDialog {
  box-shadow: none;
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

.inner {
  background: #131313;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.slippage {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.slippageLabel {
  margin-bottom: 16px;
}

.inputBalanceSlippage {
  font-size: 16px !important;
  line-height: 16px !important;
  font-weight: 700 !important;
  color: #F6F7F9 !important;
}

.inputBalanceSlippageHelp {
  display: flex;
  margin-left: 4px;
}

.slippageInputs {
  display: flex;
}

.settingsSaveButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background: #7DB857;
  border-radius: 12px;
  flex: 1;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.settings {
  cursor: pointer;
}

.slippageValueButton {
  cursor: pointer;
  margin-right: 8px;
  padding: 11px 12px;
  height: 48px;
  background: rgba(234, 232, 225, 0.12);
  border: 1px solid #EAE8E1;
  border-radius: 8px;
  color: #EAE8E1;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.slippageValueButtonActive {
  cursor: pointer;
  margin-right: 8px;
  padding: 12px;
  height: 48px;
  background: #B1F1E3;
  border-radius: 8px;
  color: #131313;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.inputBalanceSlippageText {
  position: relative;
  width: 100%;
  height: 48px !important;
  padding: 12px !important;
  padding-right: 32px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  border-radius: 12px !important;
  /*background: #171D2D;*/
  color: #9A9FAF;
  box-shadow: none;
  border: 1px solid #9A9FAF;
}

.walletText {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #9A9FAF !important;
  margin-right: 4px;
}

.tokenPrice {
  position: absolute;
  left: 285px;
  top: 20px;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #9A9FAF !important;
}

.swapAssetsBlock {
  display: flex;
  align-items: center;
  /*margin-top: 20px;*/
  height: 72px;
}

.swapAssetText {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F6F7F9;
}

.nfts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.nftLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}
.nftRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 14px;
}

.nftword {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #F6F7F9;
}

.nftExpires {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9A9FAF;
}

.nftValue {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F6F7F9;
}

.nftSymbol {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9A9FAF;
}

.nftChoose {
  color: #9A9FAF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.connectedNft {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
}

.connectedNftText {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #F6F7F9;
}

.connectedNftBlock {
  display: flex;
  justify-content: space-between;
  border: 1px solid #B1F1E3;
  border-radius: 12px;
  padding: 12px;
}

.connectedNftId {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #EAE8E1;
}

.connectedNftAmount {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9A9FAF;
}

.withdrawWarn {
  display: flex;
  padding: 16px;
  gap: 12px;
  align-items: center;
  background: rgba(69, 155, 14, 0.12);
  border: 1px solid #459B0E;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #459B0E;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 26px;
}


@media (max-width: 1919px) {
  .mainContent {
    flex-direction: column;
  }

  .leftBlock {
    align-items: center;
    gap: 0;
  }

  .manageBlock {
    width: 932px;
    margin-bottom: 28px;
  }

  .manageBtn {
    width: 50%;
  }
  .manageBtnActive {
    width: 50%;
  }

  .subnav {
    position: absolute;
  }

  .withdrawWarn {
    margin-bottom: 28px;
    width: 932px;
  }
}

@media (max-width: 1369px) {
  .subnav {
    position: relative;
    margin-bottom: 28px;
  }
}

@media (max-width: 987px) {
  .withdrawWarn {
    margin-bottom: 20px;
    padding: 8px;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }

  .titleSection {
    top: -68px;
    display: flex;
    width: 48px;
    height: 48px;
  }

  .titleSectionInline {
    top: 0;
    display: flex;
    width: 48px;
    height: 48px;
  }

  .toggleButtons {
    margin-left: 60px;
    width: calc(100% - 60px);
    height: 48px;
    margin-bottom: 20px;
  }

  .topLeftButton,
  .bottomLeftButton {
    height: 100%;
    min-height: 40px;
    font-size: 12px;
  }

  .nftTitle {
    min-width: 100%;
    min-height: auto;
    margin-bottom: 4px;
  }
  .refreshWarnBlock {
    display: none;
  }
  .displayAssetIcon {
    width: 20px;
    height: 20px;
  }

  .massiveInputAssetSelectSingle {
    width: 100%;
    height: 76px;
    margin-bottom: 8px;
    padding: 36px 8px 8px 8px;
  }

  .massiveInputAssetSelectSingle > div > div > div {
    height: 32px;
  }

  .massiveInputAssetSelectSingle > div > div > div > div:before {
    width: 4px;
    height: 4px;
  }
  .massiveInputAssetSelectSingle > div > div > div > div:after {
    width: 4px;
    height: 4px;
  }
  .massiveInputAssetSelectSingle > div > div > div > div {
    /*width: 4px;*/
    /*height: 4px;*/
  }
  .massiveInputAssetSelectSingle > div > div > div > img {
    width: 32px;
    height: 32px;
  }

  .massiveInputAssetSelectSingle > div > div > div > p {
    margin-left: 8px !important;
  }

  .liqBodyIn {}

  .liqHeaderWithdraw {}

  .mediumdisplayDualIconContainerTitle {
    font-size: 12px;
  }

  .liqTokens {
    width: 64%;
  }

  .nftRow {
    flex-direction: column;
  }
  .flyPercent {
    position: absolute;
    right: 16px;
    font-size: 20px;
    color: #8191B9 !important;
    top: 85px;
  }

  .flyPercentWithdraw {
    top: -8px;
    right: 4px;
    font-size: 20px;
  }

  .inputBalanceTextContainerForPair {
    left: 10px;
    top: 64px;
    width: 100%;
    padding-right: 20px;
  }

  .myLiqCont {
    padding: 0;
  }
  .myLiqSpacer {
    display: none;
  }
  .myLiqSplit {
    display: none;
  }
  .myLiqBal {
    flex-direction: column;
    padding: 8px;
    gap: 4px;
  }

  .depositSwitcherLabelCont {
    width: 100%;
    margin-top: 4px;
    position: relative !important;
  }

  .container {
    padding: 12px !important;
  }

  .container,
  .container3,
  .reAddPadding3 {
    width: 100%;
  }

  .controls {
    flex-direction: column;
  }

  .controlItem {
    width: 100%;
  }

  .controlItem:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .top {
    width: calc(100% + 2px);
  }

  .textField {
    width: 100%;
  }

  .textField--amount0-dark,
  .textField--withdraw-dark {
    width: 100%;
    /*padding: 12px;*/
    border-radius: 14px;
  }

  .textField--amount1-dark {
    width: 100%;
    padding: 0;
    border-radius: 14px;
  }

  .textField--To-dark {
    margin-top: -50px;
  }

  .inputBalanceText,
  .inputTitleText {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .inputBalanceTextContainer {
    position: absolute;
    left: 8px;
    top: 92px;
    width: 100%;
    padding-right: 18px;
  }

  .swapIconContainer,
  .swapIconContainerWithdraw {
    position: static;
    background-repeat: no-repeat;
  }

  .swapIconContainerWithdraw {
    position: absolute;
    margin-top: -20px;
    padding-left: 10px;
  }

  .swapIconContainer {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    position: relative;
  }

  .swapIconContainerInside {
    width: 46px;
    height: 46px;
  }

  .swapIconContainer svg {
    transform: scale(0.83);
  }

  .mediumInputContainer {
    width: 100%;
    height: 54px;
  }

  .mediumdisplayDualIconContainer {
    margin-left: 10px;
  }

  .mediumInputContainer--withdrawAmount0 {
    margin-right: 20px;
  }

  .mediumInputContainer--withdrawAmount0,
  .mediumInputContainer--withdrawAmount1 {}

  .mediumInputContainer--dark.mediumInputContainer--withdrawAmount0,
  .mediumInputContainer--dark.mediumInputContainer--withdrawAmount1 {}

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 90px;
    padding-top:0;
  }

  .displayDualIconContainer {
    width: 60px;
    height: 60px;
  }

  .displayAssetIcon {
    width: 40px;
    height: 40px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount,
  .massiveInputAmountDate {
    height: 32px;
  }


  .smallerText,
  .smallerTextDate {
    font-size: 12px !important;
    top: 74px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow--dark {
    background: var(--background-dark) url("/images/ui/swap-route-arrow--dark.svg");
  }

  .routeArrow {
    position: absolute;
  }

  .slippage {
    bottom: -45px;
    left: 20px;
  }

  .displayAssetIconWithdraw {
    padding: 2px;
    border-width: 1px;
  }

  .dialogContainer {
    width: 100% !important;
  }

  .dialogTitle {
    padding: 20px 20px 0 !important;
  }

  .displayDualIconContainerSmall,
  .assetOptionIcon {
    width: 40px;
    height: 40px;
  }

  .dialogContent {
    padding: 20px !important;
  }

  .assetSelectBalance {
    margin-left: 10px;
  }

  .assetSymbolName,
  .assetSelectBalanceText {
    font-size: 14px !important;
  }

  .assetSymbolName2,
  .assetSelectBalanceText2 {
    font-size: 12px !important;
  }

  .assetSearchResults {
    min-width: auto;
  }

  .vestPeriodLabel {
    padding: 9px 8px;
    white-space: nowrap;
  }

  .vestInfo {
    display: flex;
    flex-direction: column;
  }

  .vestInfoText {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .vestInfoTextSec {
    flex-direction: row;
  }

  .vestInfoTextTop--dark {
    border-right: none;
    border-bottom: 1px solid #5F7285;
  }

  .amount {
    font-size: 14px !important;
  }

  .toggleOptionText {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .togglesWithdraw > div{
    flex-wrap: wrap;
  }

  .toggleOption {
    height: 28px;
  }

  .toggleOption:first-child {
    margin-right: 0 !important;
  }

  .tokenSelectInput {
    padding: 4.5px 0 4.5px 5px !important;
  }

  .popoverPaper {
    width: 300px !important;
    padding: 20px !important;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .amountsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputTitleText {
    top: 8px;
    left: 8px;
    margin: 0 0 8px 0 !important;
  }

  .disclaimerDivider {
    width: 100%;
    top: 0;
  }

  .multiApprovalButton {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled.svg") !important;
  }

  .multiApprovalButton--dark {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled--dark.svg") !important;
  }

  .buttonOverride {
    width: 100% !important;
    height: 48px !important;
    margin-top: 12px !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .tokenText {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    left: 94px;
    top: 52px;
  }

  .tokenTextLabel {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    left: 94px;
    top: 77px;
  }

  .priceInfo > .title {
    font-size: 14px !important;
  }

  .liqBodyIconContainer {
    width: 36px;
    height: 36px;
    padding: 2px;
  }

  .liqBodyIcon {
    width: 30px;
    height: 30px;
  }

  .tokenTextHeader {
    font-size: 12px;
  }

  .liqBodyLabel,
  .liqHeaderLabel {
    padding-left: 5px;
    width: 100%;
  }

  .liqHeader {
    font-size: 12px;
  }

  .liqBody {
    height: 54px;
  }

  .massiveInputAmountUnstake {}

  .tokenTextSecond {
    left: 86px;
    top: 52px;
    font-size: 14px;
    width: 100%;
  }

  .labelSelectSecondary {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .depositHeader {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  }

  .depositHeaderInline {
    margin-left: 62px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  }

  .depositSwitcherLabel {
    font-size: 12px;
  }

  .slippageCont {
    width: 100%;
    height: 48px;
  }

  .slippageRoot {
    height: 46px;
    width: 200px !important;
  }

  .toggles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .manageBlock {
    width: 100%;
    margin-bottom: 28px;
    padding: 12px;
  }

  .blockInner {
    width: 100%;
    gap: 12px;
    padding: 12px;
  }

  .massiveInputContainer {
    flex-direction: column;
  }

  .massiveInputAmountWrapper {
    width: 100%;
    height: 76px;
    margin: 0;
    padding: 36px 8px 8px 8px;
  }

  .tokenPrice {
    right: 8px;
    text-align: right;
    top: 8px;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #9A9FAF !important;
  }

  .swapAssetsBlock {
    width: 100%;
    height: 48px;
    align-items: center;
  }

  .swapAssetText {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .walletText {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .myLiq {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: 12px;
  }

  .myLiqBalTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #68727A;
  }

  .myLiqBalValue {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #353A42;
  }

  .disclaimerContainer {
    margin-top: 12px;
    min-height: 36px;
    padding: 8px;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .blockTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 0 #6575B1;
    margin-bottom: 12px;
  }

  .myLiqSplitBottom {
    position: absolute;
    bottom: -13px;
    left: 50%;
    height: 12px !important;
    width: 1px !important;
  }

  .liqWrapper {
    height: 76px;
    padding: 8px;
  }
}


@media (max-width: 540px) {
  .dialogClose {
    display: none;
  }

  .dialogContent {
    padding: 0 !important;
  }
  .dialogTitle {
    padding: 12px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .inner {
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 40px;
  }

  .paperBody {
    margin: auto auto 0 auto !important;
    background: transparent !important;
  }

  .slippageValueButton {
    padding: 8px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px !important;
  }

  .slippageValueButtonActive {
    padding: 8px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px !important;
  }

  .inputBalanceSlippageText {
    height: 36px !important;
    padding: 8px !important;
    border-radius: 8px !important;
  }

  .settingsSaveButton {
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }

  .inputBalanceSlippage {
    padding-left: 0;
  }

  .menuOption {
    height: 48px;
    padding: 8px !important;
  }

  .nftLeft {
    padding: 0;
    height: 32px;
    justify-content: space-around;
  }
  .nftRight {
    padding: 0;
  }

  .nftword {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }

  .nftExpires {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }
  .nftValue {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .nftSymbol {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .nftChoose {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}