.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

/* pagination */

.paginationRoot {
}

.paginationToolbar {
}

.paginationSpacer {
  flex: none !important;
}

.selectLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;

  color: #9A9FAF !important;
}

.selectLabel + div {
  margin-right: 16px !important;
  /*flex: 1;*/

}
/*.selectLabel + div > div {
  justify-content: flex-start;
  display: flex;
}

.selectLabel + div > input {
  width: 100px;
}*/

.select {
  display: flex;
  align-items: center;

  padding-top: 12px !important;
  padding-left: 0px !important;

  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 14px !important;

  color: #e4e9f4 !important;
}

.selectIcon {
  color: #B1F1E3 !important;
}

.input {
}

.menuItem {
}

.displayedRows {
  flex: 1;
  justify-content: flex-end;
  display: flex;

  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;

  color: #9A9FAF !important;
}

.displayedRows + div button {
  border: none !important;
  /*background-color: #1f2b49 !important;*/
  color: #9A9FAF !important;
}

.displayedRows + div button[disabled] {
  color: #353A42 !important;
}

.actions {
}

/* tooltip apr */

.tooltip {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tooltip b {
  font-weight: 500;
  color: #E4E9F4;
}

.tooltip_group {
  margin-bottom: 16px;
}

.tooltip_group:last-of-type {
  margin-bottom: 0;
}

.tooltip_row {
  margin-bottom: 8px;
  color: #8191B9;
}

.tooltip_row b:first-child {
  display: inline-flex;
  min-width: 60px;
  margin-right: 12px;
}

.tooltip_row:last-child {
  margin-bottom: 0;
}

.tooltip_wrapper {
  padding: 24px !important;
  border: 1px solid #779bf4 !important;
  border-radius: 12px !important;
  background: #1f2b49 !important;
}
.tooltip_boost_wrapper {
  border: 1px solid #EB9617 !important;
  border-radius: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 600px !important;
  min-width: 600px !important;
}

.boostCalculatorTooltip {
  background: #131313;
  border-radius: 20px !important;
}
.calcToValue {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 16px 16px 0;
}
.calcToValue .lp {
  color: #8191B9;
  font-size: 14px;
  line-height: 16px;
}
.calcToValue .massiveInputAmount {
  display: flex;
  flex-grow: 1;
  padding: 0 12px;
  color: #ffffff;
  margin: 0;
  border-radius: 12px;
  height: 38px;
  max-width: 50%;
  background: #171D2D;
  border: 1px solid #779BF4;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
}
.calcToValue .massiveInputAmount:hover {
  background-color: #1F2B49 !important;
}
.calcToValue .massiveInputAmount::placeholder {
  color: #8191B9 !important;
}
.calcToValue .flyPercent {
  margin-left: 8px;
  color: rgb(129, 145, 185);
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 28px;
  top: 28px;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.rootPaper {
  max-width: none !important;
}

.topScrollPaper {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.tvAntenna {
  height: 28px;
}

.paperBody {
  width: 520px !important;
  height: auto;
  max-height: none !important;
  margin: auto !important;
  background: transparent !important;
}

.realDialog {
  box-shadow: none;
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

.dialogInner {
  background: #131313;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.apply {
  background: #7DB857;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 12px;
}