.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

/* pagination */

.paginationRoot {
}

.paginationToolbar {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.paginationSpacer {
  flex: none !important;
}

.selectLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;

  color: #9A9FAF !important;
}

.selectLabel + div {
  margin-right: 16px !important;
  margin-left: 12px !important;
  /*flex: 1;*/
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #F6F7F9;
}
/*.selectLabel + div > div {
  justify-content: flex-start;
  display: flex;
}

.selectLabel + div > input {
  width: 100px;
}*/

.selectRoot {

}
.select {
  display: flex;
  align-items: center;

  padding-top: 12px !important;
  padding-left: 0 !important;

  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 14px !important;

  color: #e4e9f4 !important;
}

.selectIcon {
  color: #B1F1E3 !important;
}

.input {
}

.menuItem {
}

.displayedRows {
  flex: 1;
  justify-content: flex-end;
  display: flex;

  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;

  color: #9A9FAF !important;
}

.displayedRows + div button {
  border: none !important;
  /*background-color: #1f2b49 !important;*/
  color: #9A9FAF !important;
}

.displayedRows + div button[disabled] {
  color: #353A42 !important;
}

.actions {
}

/* tooltip apr */

.tooltip {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tooltip b {
  font-weight: 500;
  color: #E4E9F4;
}

.tooltip_group {
  margin-bottom: 16px;
}

.tooltip_group:last-of-type {
  margin-bottom: 0;
}

.tooltip_row {
  margin-bottom: 8px;
  color: #8191B9;
}

.tooltip_row b:first-child {
  display: inline-flex;
  min-width: 60px;
  margin-right: 12px;
}

.tooltip_row:last-child {
  margin-bottom: 0;
}

.tooltip_wrapper {
  padding: 24px !important;
  border: 1px solid #779bf4 !important;
  border-radius: 12px !important;
  background: #1f2b49 !important;
}
.tooltip_boost_wrapper {
  border: 1px solid #EB9617 !important;
  border-radius: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 600px !important;
  min-width: 600px !important;
}

.boostCalculatorTooltip {
  background: #131313;
  border-radius: 20px !important;
}
.calcToValue {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 16px 16px 0;
}
.calcToValue .lp {
  color: #8191B9;
  font-size: 14px;
  line-height: 16px;
}
.calcToValue .massiveInputAmount {
  display: flex;
  flex-grow: 1;
  padding: 0 12px;
  color: #ffffff;
  margin: 0;
  border-radius: 12px;
  height: 38px;
  max-width: 50%;
  background: #171D2D;
  border: 1px solid #779BF4;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
}
.calcToValue .massiveInputAmount:hover {
  background-color: #1F2B49 !important;
}
.calcToValue .massiveInputAmount::placeholder {
  color: #8191B9 !important;
}
.calcToValue .flyPercent {
  margin-left: 8px;
  color: rgb(129, 145, 185);
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 28px;
  top: 28px;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.rootPaper {
  max-width: none !important;
}

.topScrollPaper {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.tvAntenna {
  height: 28px;
}

.paperBody {
  width: 520px !important;
  height: auto;
  max-height: none !important;
  margin: auto !important;
  background: transparent !important;
}

.realDialog {
  box-shadow: none;
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

.dialogTitle {
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
}

.dialogClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dialogContent {
  padding: 4px 20px 20px;
}

.dialogInner {
  background: #131313;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.apply {
  background: #7DB857;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 580px) {
  .paperBody {
    margin: auto auto 0 auto !important;
    background: transparent !important;
  }

  .dialogTitle {
    padding: 12px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .dialogClose {
    display: none;
  }

  .dialogContent {
    padding: 0 !important;
  }

  .dialogInner {
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 40px;
  }

  .apply {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
  }
}

.tvLoading,
.tvNotData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .tvLoading,
  .tvNotData {
    margin-top: 40px;
  }
}

.tvLoading img {
  width: 306px;
}

@media (max-width: 767px) {
  .tvLoading img {
    width: 100%;
    max-width: 204px;
  }
}

.tvNotData img {
  width: 499px;
}

@media (max-width: 767px) {
  .tvNotData img {
    width: 333px;
    max-width: 100%;
  } 
}

.tvImage {
  margin-bottom: 20px;
}

.tvText {
  max-width: 512px;

  font-family: 'BalooBhai2';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  color: #EAE8E1;
}