.popoverPaper {
  width: 200px !important;
  padding: 12px !important;

  /* border: 1px solid #779BF4 !important; */
  border-radius: 12px !important;

  background: #EAE8E1 !important;
  
  overflow: hidden !important;
}

.popoverPaper--dark {
  /* background: #2D3741 !important; */
  /* border: 2px solid #5F7285 !important; */
}
