/* .logoIconImg {
    display: none;
}
@media (max-width: 850px) {
    .logoImg {
        display: none;
    }
    .logoIconImg {
        display: inline;
        height: 40px;
    }
}

.logoText {
    margin-top: 2px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0;
    color: #fff;
}

@media (max-width: 850px) {
    .logoText {
        display: none;
    }
}
 */

.logo,
.logoMobile {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;

  color: #131313;
}

.logoMobile {
    display: none;
    line-height: 100%;
}

@media (max-width: 575px) {
    .logo {
      display: none;
    }

    .logoMobile {
        display: inline;
    }
}
