.wrapper {
  min-height: calc(100vh - 70px - 72px);
  padding: 0 28px;
  background-image: url('/images/background/left.png'), url('/images/background/right.png');
  background-repeat: no-repeat;
  background-position: right 90% top -110px, left 90% top -193px;
}

@media (max-width: 680px) {
  .wrapper {
    padding: 0 12px;
  }
}

.title {
  max-width: 1324px;

  margin: 0 auto 40px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;

  color: #ffffff;
}

@media (max-width: 1199px) {
  .title {
    max-width: 932px;
  }
}

@media (max-width: 860px) {
  .title {
    max-width: 732px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }
}

.subtitle {
  margin-bottom: 80px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;

  color: #ffffff;
}

@media (max-width: 1199px) {
  .subtitle {
    max-width: 794px;
    margin: 0 auto 80px;
  }
}

@media (max-width: 860px) {
  .subtitle {
    max-width: 724px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 231px;
  height: 64px;

  margin: 0 auto 80px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  border-radius: 16px;

  background: #7db857;
  color: #ffffff;
}

@media (max-width: 860px) {
  .button {
    width: 149px;
    height: 48px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 120px;
}

@media (max-width: 860px) {
  .socials {
    margin-bottom: 80px;
  }
}

.socialItem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;

  margin-right: 16px;

  border-radius: 30px;

  box-shadow: 2px 2px 0px #6575b1;
  background: #eae8e1;
}

@media (max-width: 860px) {
  .socialItem {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
}

.socialItem:last-child {
  margin-right: 0;
}

.socialItem a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textTitle {
  margin-bottom: 40px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;

  color: #ffffff;
}

@media (max-width: 860px) {
  .textTitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.text {
  max-width: 550px;

  margin: 0 auto 80px;

  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;

  color: #e4e9f4;
}

@media (max-width: 860px) {
  .text {
    max-width: 724px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }
}

.text + .text {
  max-width: 782px;

  margin: 120px auto 80px;
}

@media (max-width: 1199px) {
  .text + .text {
    margin: 600px auto 80px;
  }
}

@media (max-width: 860px) {
  .text + .text {
    max-width: 724px;
    margin-top: 400px;
    margin-bottom: 40px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -14px;
}

.listItem {
  width: calc(16.666% - 28px);
  margin: 0 14px 80px;
}

@media (max-width: 1400px) {
  .listItem {
    width: calc(33.333% - 28px);
  }
}

@media (max-width: 860px) {
  .listItem {
    width: calc(50% - 28px);
    margin-bottom: 40px;
  }
}

.listItemContent {
  max-width: 242px;
  margin: 0 auto;
}

@media (max-width: 860px) {
  .listItemContent {
    max-width: 100%;
  }
}

.listItemIcon {
  display: flex;
  justify-content: center;

  margin-bottom: 12px;
}

.listItemTitle {
  margin-bottom: 12px;

  font-family: "PT Root UI";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;

  color: #e4e9f4;
}

@media (max-width: 860px) {
  .listItemTitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.listItemText {
  font-family: "PT Root UI";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;

  color: #eae8e1;
}

@media (max-width: 860px) {
  .listItemText {
    font-size: 14px;
    line-height: 20px;
  }
}

/* .wrapper {
  margin-left: calc(250px + 140px + 30px - 20px + 16px);
}

@media (max-width: 1800px) {
  .wrapper {
    margin: 0;
    transform: none;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .row {
    flex-direction: column;
  }
}

.row:first-child .column:last-child {
  padding-top: 13px;
}

@media (max-width: 1250px) {
  .row:first-child .column:last-child {
    padding-top: 0;
  }
}

.column {
  width: calc(50% -  70px);
}

@media (max-width: 1450px) {
  .column {
    width: calc(50% - 20px)
  }
}

@media (max-width: 1250px) {
  .column {
    width: calc(100%);
  }
}

.title {
  max-width: 676px;

  margin-top: 0;
  margin-bottom: 40px;

  font-size: 96px;
  font-weight: 500;
  line-height: 112px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .title {
    font-size: 48px;
    line-height: 52px;
  }
}

.subtitle {
  max-width: 676px;

  margin-top: 0;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  color: #ffffff;
}

.buttonEnter {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 96px;
  max-width: 100%;

  border-radius: 12px;

  background: #d3f85a;

  padding: 0 !important;

  text-transform: uppercase;

  border: none !important;
  background-color: #d3f85a !important;

  cursor: pointer;
}

@media (max-width: 1250px) {
  .buttonEnter {
    margin-bottom: 40px;
  }
}

.buttonEnterLabel {
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 48px !important;

  color: #171d2d !important;

  white-space: pre-line;
}

.title2 {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 48px;
  font-weight: 500;
  line-height: 52px;

  color: #779bf4;
}

@media (max-width: 600px) {
  .title2 {
    font-size: 28px;
    line-height: 36px;
  }
}

.layoutPromoSocials {
  display: flex;
  margin-top: 56px;
}

.layoutPromoSocialsLink {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;

  margin-right: 16px;

  padding-top: 5px;

  border: 1px solid #779bf4;
  border-radius: 30px;

  background: rgba(119, 155, 244, 0.15);
}

.layoutPromoSocialsLink:last-child {
  margin-right: 0;
}

.divider {
  height: 1px;
  margin: 60px 0;
  background-color: #E4E9F4;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #E4E9F4;
}

@media (max-width: 1250px) {
  .text {
    margin-bottom: 40px;
  }
}

.text p {
  margin-top: 0;
  margin-bottom: 0;
}

.infoButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 513px;
  height: 72px;
  max-width: 100%;

  margin-top: 40px;
  padding: 0 32px;

  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid #779BF4;
  border-radius: 12px;

  background: rgba(119, 155, 244, 0.15);
  color: #779BF4;

  cursor: pointer;
}

@media (max-width: 1250px) {
  .infoButton {
    margin-top: 0;
  }
}

.infoButton span {
  margin-right: 18px;
} */
