.top-header {
  background: #EAE8E1;
  /*width: 100%;*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*padding-top: 28px;*/
  /*padding-bottom: 28px;*/
  height: 72px;
  box-sizing: content-box;
  border-bottom: 8px solid #6575B1;
}

/* @media (max-width: 1550px) {
  .top-header {
    height: 100px;
  }
} */

@media (max-width: 850px) {
  .top-header {
    height: 56px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .top-header {
    height: 44px;
    border-bottom: 4px solid #6575B1;
  }
}
