.paper {
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

.paperScrollPaper {
  width: 782px !important;
  max-width: 100% !important;
  margin: 0 12px !important;
}

.displaySelectContainer {
  border-radius: 12px;
  cursor: pointer;
}

.displaySelectContainerCreate {
  /*width: 510px;*/
}

.displaySelectContainerWithdraw {
  width: 100% !important;
}

@media (max-width: 860px) {
  .displaySelectContainerCreate {
    width: 216px;
  }
}

.displaySelectContainer:hover {
  /*background: #1F2B49;*/
}

.displaySelectContainerMedium {
  /*padding: 12px 20px 12px 0;*/
  cursor: pointer;
}

.displaySelectContainerSmall {
  padding: 0;
  margin-left: 10px;
}

.displayDualIconContainer {
  position: relative;
  /*height: 92px;*/
  display: flex;
  align-items: center;
  padding: 18px 20px 6px 0px;
}

.displayDualIconContainerDoubled {
  position: relative;
  display: flex;
  align-items: center;
}


@media (max-width: 1024px) {
  .displayDualIconContainer {
    padding: 0;
    height: auto;
  }
}

@media (max-width: 860px) {
  .displayDualIconContainer {
    /*height: 80px;*/
    /*padding: 16px 4px;*/
  }
}

@media (max-width: 650px) {
  .displayDualIconContainer {
    /*height: 70px;*/
    /*padding: 14px;*/
  }
}

@media (max-width: 580px) {
  .displayDualIconContainer {
    /*height: 44px;*/
    /*padding: 12px 4px;*/
  }
}

.displayDualIconContainerSmallest {
  width: 50px;
  height: 50px;
  background: #CFE5F2;
  border: 1px solid #9BC9E4;
  border-radius: 100px;
  margin-right: 10px;
}

.displayDualIconContainer--dark.displayDualIconContainerSmallest {
  background: #24292D;
  border: 1px solid #304E61;
}

.displayDualIconContainer:hover {
  fill: #0B5E8E;
}

.displayDualIconContainer:active {
  fill: #86B9D6;
}

.displayDualIconContainerConfirm {
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.displayDualIconContainerSmall {
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 14px;
}

@media (max-width: 600px) {
  .displayDualIconContainerSmall {
    width: 40px;
    height: 40px;
  }
}

.displayDualIconContainerDouble {
  width: 85px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

p.labelSelect {
  margin: 0 4px;
  margin-right: 10px;
  margin-left: 12px;
  color: #F6F7F9;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
}

p.labelSelectSecondary {
  margin-left: 12px;
  color: #8191B9;
  font-size: 16px;
  font-weight: 500;
}

/*@media (max-width: 860px) {
  p.labelSelect {
    margin: 0 15px;
    font-size: 22px;
  }
}*/

/*@media (max-width: 650px) {
  p.labelSelect {
    margin: 0 10px;
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  p.labelSelect {
    margin: 0 5px;
    font-size: 16px;
  }
}*/

.dotsSelectMenu {
  position: relative;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 100%;
}

.displayAssetIcon {
  width: 52px;
  height: 52px;
  border-radius: 30px;
}

/*@media (max-width: 860px) {
  .displayAssetIcon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 650px) {
  .displayAssetIcon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 580px) {
  .displayAssetIcon {
    width: 18px;
    height: 18px;
  }
}*/

.displayAssetIconSmall {
  width: 20px;
  height: 20px;
}

.assetSelectMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 76px !important;

  padding: 16px !important;
  margin-bottom: 8px !important;
  margin-right: 8px !important;
  border-radius: 12px !important;

  background: #131313 !important;
  border: 1px solid rgba(104, 114, 122, 0.4) !important;


  transition: all ease 300ms;
}

@media (max-width: 600px) {
  .assetSelectMenu {
    min-height: 64px !important;
    padding: 12px !important;
  }
}

.assetOptionIcon {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

@media (max-width: 600px) {
  .assetOptionIcon {
    width: 40px;
    height: 40px;
  }
}

.assetSymbolName {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #F6F7F9 !important;
}

@media (max-width: 600px) {
  .assetSymbolName {
    font-size: 16px !important;
    line-height: 125% !important;
  }
}

.assetSymbolNameDouble {
  font-size: 18px !important;
}

.assetSymbolName2 {
  padding-right: 20px !important;

  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-overflow: ellipsis !important;

  overflow: hidden !important;

  color: #9A9FAF !important;
}

@media (max-width: 600px) {
  .assetSymbolName2 {
    font-size: 14px !important;
    line-height: 115% !important;
  }
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.assetSelectBalanceText {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #F6F7F9 !important;
}

@media (max-width: 600px) {
  .assetSelectBalanceText {
    font-size: 16px !important;
    line-height: 125% !important;
  }
}

.assetSelectBalanceText2 {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #8191B9 !important;
}

@media (max-width: 600px) {
  .assetSelectBalanceText2 {
    font-size: 14px !important;
    line-height: 115% !important;
  }
}

.assetSelectBalance {
  /*margin-top: 4px;*/
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  height: 48px;
  padding-right: 12px !important;
  /*background: #171D2D !important;*/
  border-radius: 12px !important;
  border: 1px solid #9A9FAF !important;
}

.searchInput:hover {
  border: 1px solid #B1F1E3 !important;
  background: rgba(177, 241, 227, 0.12);
}

/*@media (max-width: 600px) {
  .searchInput {
    height: 48px;
  }
}*/

.searchInput input {
  padding-left: 12px !important;
  color: white !important;
  /*color: #9A9FAF !important;*/
}

.searchInput input::placeholder {
  /*color: white !important;*/
}

/*@media (max-width: 600px) {
  .searchInput input {
    padding-left: 14px !important;
    font-size: 14px;
  }
}*/

.searchInput:hover {
  /*background: #B9DFF5 !important;*/
  /*border: 1px solid #86B9D6 !important;*/
}

.searchInput:active {
  /*background: #B9DFF5 !important;*/
  /*border: 1px solid #0B5E8E !important;*/
}

.searchInput:focus {
  /*background: #B9DFF5 !important;*/
  /*border: 1px solid #FFFFFF !important;*/
}


.searchInput:focus {
  background: #24292D !important;
  border: 1px solid #FFFFFF !important;
}

.searchInput > fieldset {
  border: none;
}

.searchInputText {
  padding: 24px !important;

  font-size: 16px !important;
  line-height: 120% !important;

  border-radius: 0 !important;
  border: none !important;

  color: #8191B9 !important;
}

.dialogOptions {
  position: relative;
  margin-top: 28px;
}

/*@media (max-width: 600px) {
  .dialogOptions {
    margin-top: 16px;
    margin-bottom: 24px !important;
  }
}*/

.assetSearchResults {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
}

@media (max-width: 600px) {
  .assetSearchResults {
    min-width: auto;
  }
}

.manageLocalContainer {
  position: absolute;

  bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 600px) {
  .manageLocalContainer {
    bottom: 12px;
  }
}

.manageLocalContainer button {
  text-transform: uppercase !important;
  text-decoration: underline !important;
  letter-spacing: 0 !important;
  color: #779BF4 !important;
}

.manageLocalBtn {
  padding: 0 !important;

  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  letter-spacing: 0 !important;
  text-transform: uppercase !important;
  text-decoration: underline !important;

  color: #779BF4 !important;
}

.dialogContent {
  padding: 20px 20px 20px !important;
  margin: 0px 20px 20px !important;
  background: #131313 !important;
  border-radius: 20px !important;
}

.dialogContentCommon {
  padding: 0 20px 20px !important;
}

/*@media (max-width: 600px) {
  .dialogContent {
    padding: 16px 16px 16px !important;
  }
}*/

.displayAssetIconSecond {
  width: 52px;
  height: 52px;
  /*border: 2px solid #9BC9E4;*/
  /*padding: 4px;*/
  background: #B9DFF5;
}

.displayAssetIconSecond--dark {
  border: 2px solid #2D3741;
  background: #24292D;
}

@media (max-width: 860px) {
  .displayAssetIconSecond {
    width: 34px;
    height: 34px;
  }
}

.displayAssetIconSec {
  margin-left: -20px;
}

@media (max-width: 860px) {
  .displaySelectContainerWithdraw {
    padding: 0;
  }

/*  p.labelSelect {
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
  }*/

  p.labelSelectDouble {
    font-size: 14px;
    min-width: 160px;
  }

  p.labelSelectSecondary {
    margin-left: 8px;
    color: #8191B9;
    font-size: 12px;
    font-weight: 500;
  }

  /*@media (max-width: 600px) {
    .dialogTitle {
      padding: 20px 16px 0 !important;
      font-size: 20px !important;
      line-height: 100% !important;
    }
  }*/

  /*@media (max-width: 600px) {
    .dialogContainer {
      height: 500px !important;
    }
  }*/

  .popover {
    border-radius: 12px !important;
    border: 1px solid #779BF4;

    background: #1F2B49 !important;
  }

  .popoverContent {
    display: flex;
    flex-direction: column;

    padding: 24px;
  }

  .popoverContent button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 40px;

    margin-bottom: 12px;
    padding: 0 16px;

    font-weight: 600;
    font-size: 14px !important;
    line-height: 16px !important;
    text-transform: uppercase !important;

    border: 1px solid #779BF4;
    border-radius: 12px;

    background: rgba(119, 155, 244, 0.15);
    color: #779BF4 !important;
  }

  .popoverContent button img {
    margin-right: 8px;
  }

  .popoverContent button:last-child {
    margin-bottom: 0;
  }
}

.tokenPopover_root {
  background-color: transparent !important;
}

.tokenPopover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  width: 242px;
  height: 140px;

  border: 1px solid #779BF4;
  border-radius: 12px;

  background: #1F2B49;
}

.tokenPopover_button {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 64px;
  border-radius: 12px;
  background: #7DB857;
  color: #FFFFFF;
  cursor: pointer;
}

.tokenPopover_button_secondary {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  height: 64px;
  background: rgba(177, 241, 227, 0.12);
  border: 2px solid #B1F1E3;
  border-radius: 12px;
  color: #B1F1E3;
  cursor: pointer;
}

.tokenPopover_button:last-child {
  margin-bottom: 0;
}

.selectExpander {
  margin-left: auto;
}

.tabs {
  display: flex;
  border: 1px solid #131313;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 2px;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353A42;
  background: transparent;
  border-radius: 10px;
  width: 158px;
  height: 44px;
}

.activeTab {
  color: #F6F7F9;
  background: #131313;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popoverBody {
  display: flex;
  flex-direction: column;
}

.tvAntenna {
  height: 28px;
}

.realDialog {
  box-shadow: none;
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

.dialogTitle {
  padding: 20px !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0 !important;
  color: #131313;
}

.dialogClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dialogInner {
  background: #131313;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.rootPaper {
  max-width: none !important;
}

.topScrollPaper {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.paperBody {
  width: 520px !important;
  height: auto;
  max-height: none !important;
  margin: auto !important;
  background: transparent !important;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.dialogTokenRow {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  color: #F6F7F9;
}
.dialogTokenRow img {
  margin-right: 12px;
}

@media (max-width: 1024px) {
  p.labelSelect {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }

  .displayAssetIcon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 540px) {
  .dialogTitle {
    padding: 12px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .paper {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .dialogContent {
    padding: 12px 12px 12px !important;
    margin: 0 !important;
    border-radius: 16px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .dialogContentCommon {
    padding: 0 !important;
  }

  .dialogClose {
    display: none;
  }

  .inner {
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 40px;
  }

  .paperBody {
    margin: auto auto 0 auto !important;
    background: transparent !important;
  }

  .dialogTokenRow {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }

  .tokenPopover_button_secondary {
    height: 48px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }

  .tokenPopover_button {
    height: 48px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }

  .paperScrollPaper {
    width: 100% !important;
    max-width: 100% !important;
    margin: auto 0 0 0 !important;
  }

  .tabs {
    border-radius: 6px;
  }

  .tab {
    border-radius: 6px;
    width: 128px;
    height: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .searchInput {
    height: 36px;
  }

  .dialogOptions {
    margin-top: 12px;
  }
}