input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(128, 128, 128, 0);
  background: url('/calendar.svg') no-repeat;
  background-size: contain;
  opacity: 1;
  display: block;
  border-width: thin;
  position: absolute;
  top: 20px;
  left: -103px;
  z-index: 9;
}

button {
  text-transform: none !important;
}

@media (max-width: 530px) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    top: 12px;
    left: -71px;
  }
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
}

.web3modal-modal-card {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap;
  width: 400px !important;
  height: 372px !important;
  padding: 92px 40px 20px 40px !important;
  background: #EAE8E1 !important;
  border-radius: 20px !important;
}

@media (max-width: 991px) {
  .web3modal-modal-card {
    padding-top: 223px !important;
  }
}

@media (max-width: 767px) {
  .web3modal-modal-card {
    padding: 144px 20px 20px !important;
  }
}

@media (max-width: 575px) {
  .web3modal-modal-card {
    padding: 120px 20px 20px !important;
  }
}

.web3modal-modal-card::before {
  content: 'Connect Wallet';
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #131313;
}

.web3modal-modal-card::after {
  content: "";
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 72px;
  left: 20px;
  width: 360px;
  height: 280px;
}

@media (max-width: 991px) {
  .web3modal-modal-card::before {
    max-width: 800px;
  }
}

@media (max-width: 767px) {
  .web3modal-modal-card::before {
    max-width: 600px;
    font-size: 48px;
    line-height: 52px;
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .web3modal-modal-card::before {
    max-width: 400px;
    font-size: 32px;
    line-height: 40px;
  }
}

.web3modal-provider-wrapper {
  width: 320px !important;
  height: 72px !important;
  margin-bottom: 12px !important;
  padding: 0 !important;
  border: none !important;
  z-index: 1;
}

@media (max-width: 991px) {
  .web3modal-provider-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .web3modal-provider-wrapper {
    margin-bottom: 16px !important;
  }
}

.web3modal-provider-wrapper:last-child {
  margin-bottom: 0 !important;
}

.web3modal-provider-container {
  display: flex !important;
  justify-content: flex-end !important;
  flex-direction: row-reverse!important;
  align-items: center !important;
  height: 120px;
  padding: 10px 20px !important;
  border: 1px solid rgba(104, 114, 122, 0.4) !important;
  border-radius: 12px !important;
  background: transparent !important;
}

.web3modal-provider-container:hover {
  background: #1F2B49 !important;
}

.web3modal-provider-name {
  color: #EAE8E1 !important;
}

.web3modal-provider-description {
  display: none !important;
}

.web3modal-provider-name {
  width: auto !important;
  order: 0 !important;
  margin-top: 0 !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
}

.web3modal-provider-icon {
  order: 1 !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 25px !important;
}

::-webkit-scrollbar {
  width:16px;
  height: 16px;
  border: 1px solid rgba(104, 114, 122, 0.4);
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  box-shadow: none;
  background: #353A42;
  border-radius: 8px;
}
div, table, textarea, input {
  scrollbar-width: thin;
}
